<!--<div class="container">
    <legend>Edit Item</legend>
    <form>
        <div class="mb-3">
            <label for="txtname" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)]="formdata.name" class="form-control" id="txtname">
        </div>
        <div class="mb-3">
            <label for="txtcin" class="form-label">CIN</label>
            <input type="text" name="cin" [(ngModel)]="formdata.cin" class="form-control" id="txtcin">
        </div>
        <div class="mb-3">
            <label for="txtsalary" class="form-label">Salary</label>
            <input type="number" name="salary" [(ngModel)]="formdata.salary" class="form-control" id="txtsalary">
        </div>
        <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div>
-->